.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.color {
  background-color: "pink";
}
.color1 {
  background-color: "grey";
}
.newColor {
  color: red !important;
}
.navigation ul {
  display: flex;
  list-style-type: none;
}
